.footer {
    align-items: center;
    //background-color: #8f57fd;
    background: #0F2027;  /* fallback for old browsers */
    display: flex;
    height: 80px;
    width: 100%;
  }
  
  .footer a {
    color: white;
    cursor: pointer;
    font-size: 18px;
    padding-left: 30px;
    text-decoration: none;
    font-family: 'Georama', sans-serif;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }

  .footer img{
    filter: grayscale(100%);
    filter:  brightness(0) invert(1);
  }