  
  .header__img {
    margin-left: 100px;
    //margin-top: 5px;
    width: 60px;
    filter: grayscale(100%);
    filter:  brightness(0) invert(1);
  }
  .navbar {
    background: #0F2027;  /* fallback for old browsers */
  }


  .navbar ul li a {
    color: white;
    font-family: 'Georama', sans-serif;
    font-size: 18px;
  }
  
  .drop_container li, a, ul {
    background-color:#0F2027; ;
  }

  #navbarNavDropdown{
    align-items: center;
    padding-right: 200px;
  }
