// .header {
//     align-items: center;
//     //background: #0F2027;  /* fallback for old browsers */
//     //background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
//     //background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
//     font-size: 19px;
//     color: black;
//     display: flex;
//     height: 100px;
//     justify-content: space-between;
//     top: 0px;
//     width: 100%;
//   }
  
  .header__img {
    margin-left: 100px;
    //margin-top: 5px;
    width: 60px;
    filter: grayscale(100%);
    filter:  brightness(0) invert(1);
  }
  .navbar {
    background: #0F2027;  /* fallback for old browsers */
  }


  .navbar ul li a {
    color: white;
    font-family: 'Georama', sans-serif;
    font-size: 18px;
  }
  
  .drop_container li, a, ul {
    background-color:#0F2027; ;
  }

  #navbarNavDropdown{
    align-items: center;
    padding-right: 200px;
  }
